{
  "jsxSingleQuote": false,
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "arrowParens": "always",
  "parser": "babel-ts",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "jsxBracketSameLine": false
}